.list {
    padding: 10px 0;
}

 a.list  {
    text-decoration: none;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    color: #000;
    border-radius: 10px;
    background-color: red;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}